body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	-webkit-transform-origin: 0 0;
}
p {
	font-weight: bold;
}
.zoom2 { -webkit-transform: scale(1.5); }
.zoom3 { -webkit-transform: scale(2); }
.zoom4 { -webkit-transform: scale(3); }
.zoom5 { -webkit-transform: scale(4); }

.panHandle {
	position: fixed;
	top: 0;
	right: 0;
	height: 2000px;
	left: 0;
	cursor: move;
	z-index: 1000000;
}
.handlesControls {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 16px;
	line-height: 18px;
	z-index: 100000;
	overflow: visible;
	-webkit-transform-origin: 0 0;
	text-shadow: 0 0 3px #fff;
}
.tabs {
	list-style: none;
	padding: 0;
	margin: 0;
}
.tabs > li {
	display: inline-block;
	padding: 4px 8px;
	cursor: pointer;
}
.tabs > .active {
	font-weight: bold;
}
.curProp {
	position: absolute;
	background-color:#fff;
	border-radius: 100%;
	text-shadow: 0 0 3px #fff, 0 0 5px #fff;
	color: #00ADEF;
	z-index: 1000;
	width: 100px;
	height: 100px;
	margin-left: -50px;
	margin-top: -50px;
	opacity: .9;
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
}
.propVal {
	font-size: 2.5em;
	font-weight: bolder;
}
.propDel {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 200;
	background-color: rgba(0,0,0,.1);
	padding: 3px;
	border-radius: 100%;
	height: 20px;
	width: 20px;
	margin-left: -10px;
	cursor: pointer;
	display: none;
}
.curProp:hover .propDel {
	display: block;
}
.propDel:hover {
	background-color: rgba(0,0,0,.2);
}

handle {
	margin-left: -1em;
	margin-top: -1em;
	display: block;
	position: absolute;
	z-index: 999;
}
.handleCt {
	width: 2em;
	height: 2em;
	border-radius: 100%;
	background-color: #fff;
	opacity: .3;
	border: solid .08em #00ADEF;
	overflow: hidden;
	box-sizing: border-box;
	color: #00ADEF;
	cursor: pointer;
}
.handleCt:hover {
	opacity: 1;
}

.zoom2 handle, .zoom2 .curProp { -webkit-transform: scale(.6666); }
.zoom3 handle, .zoom3 .curProp { -webkit-transform: scale(.5); }
.zoom4 handle, .zoom4 .curProp { -webkit-transform: scale(.3333); }
.zoom5 handle, .zoom5 .curProp { -webkit-transform: scale(.25); }

.handleColor0, 
.handleColor1, 
.handleColor2, 
.handleColor3, 
.handleColor4 {
	color: #fff;
	opacity: 1;
	border: none;
}
.handleColor1 { background-color: #00ADEF; }
.handleColor2 { background-color: #00D96D; }
.handleColor3 { background-color: #A3D900; }
.handleColor4 { background-color: #DC0000; }
.handleColor5 { background-color: #A300D9; }

handle.dragging > .handleCt {
	background-color: #fff;
	opacity: 1;
	border: solid .166em #00ADEF;
}
handle.dragging > .handleColor1 { border-color: #00ADEF; color: #00ADEF; }
handle.dragging > .handleColor2 { border-color: #00D96D; color: #00D96D; }
handle.dragging > .handleColor3 { border-color: #A3D900; color: #A3D900; }
handle.dragging > .handleColor4 { border-color: #DC0000; color: #DC0000; }
handle.dragging > .handleColor5 { border-color: #A300D9; color: #A300D9; }

.n-resize > .handleCt { cursor: n-resize; }
.s-resize > .handleCt { cursor: s-resize; }
.e-resize > .handleCt { cursor: e-resize; }
.w-resize > .handleCt { cursor: w-resize; }
.ns-resize > .handleCt { cursor: ns-resize; }
.ew-resize > .handleCt { cursor: ew-resize; }
.move > .handleCt { cursor: move; }

.dot {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #ccc;
}
.color1 { background-color: #00ADEF; }
.color2 { background-color: #00D96D; }
.color3 { background-color: #A3D900; }
.color4 { background-color: #DC0000; }
.color5 { background-color: #A300D9; }


/**** TEMPORARY PAGE STYLES ****/
.box {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 100px;
	left: 100px;
	background-color: #ccc;
	overflow: hidden;
	padding-top: 1em;
	/*-webkit-transform-origin: 100% 100%;*/
}

.box1 {
	top: auto;
	left: auto;
	bottom: 50px;
	right: 50px;
}
.box2 {
	padding: 5%;
	background-color: #eee;
	left: 500px;
	margin-left: -2.55%;
}
.box3 {
	top: 350px;
	width: 600px;
	padding: 5%;
	background-color: #666;
	border: solid 10px #ccc;
	color: #fff;
	box-sizing: border-box;
}
.box4 {
	margin: 1em;
	background-color: #cc0000;
	border: solid 10px #ccc;
}
.box5 {
	padding: 3em;
	left: 800px;
	top: 150px;
	width: 10em;
}

.box2 {
	-webkit-transform: translateX(50px) translateY(-50px);
}
.box3 {
	-webkit-transform: skew(15deg);
}
.box4 {
	-webkit-transform: scale(0.5);
}
.box5 {
	-webkit-transform: rotate(45deg);
}

.bigFont {
	font-size: 200%;
}
