@charset "utf-8";

html, body {
	height: 100%;
	overflow: hidden;
}
body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	-webkit-transform-origin: 0 0;
}
p {
	font-weight: bold;
}
.zoom2 { -webkit-transform: scale(1.5); }
.zoom3 { -webkit-transform: scale(2); }
.zoom4 { -webkit-transform: scale(3); }
.zoom5 { -webkit-transform: scale(4); }

.panHandle {
	position: fixed;
	top: 0;
	right: 0;
	height: 2000px;
	left: 0;
	cursor: move;
	z-index: 1000000;
}
.handlesControls {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 16px;
	line-height: 18px;
	z-index: 100000;
	overflow: visible;
	-webkit-transform-origin: 0 0;
	text-shadow: 0 0 3px #fff;
}
.tabs {
	list-style: none;
	padding: 0;
	margin: 0;
}
.tabs > li {
	display: inline-block;
	padding: 4px 8px;
	cursor: pointer;
}
.tabs > .active {
	font-weight: bold;
}
.curProp {
	position: absolute;
	background-color:#fff;
	border-radius: 100%;
	text-shadow: 0 0 3px #fff, 0 0 5px #fff;
	color: #00ADEF;
	z-index: 1000;
	width: 100px;
	height: 100px;
	margin-left: -50px;
	margin-top: -50px;
	opacity: .9;
	text-align: center;
	box-sizing: border-box;
	padding-top: 20px;
}
.propVal {
	font-size: 2.5em;
	font-weight: bolder;
}
.propDel {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 200;
	background-color: rgba(0,0,0,.1);
	padding: 3px;
	border-radius: 100%;
	height: 20px;
	width: 20px;
	margin-left: -10px;
	cursor: pointer;
	display: none;
}
.curProp:hover .propDel {
	display: block;
}
.propDel:hover {
	background-color: rgba(0,0,0,.2);
}

.unfoldCode {
	float: right;
	font-weight: normal;
}

.hoverLine/*, .CodeMirror-activeline-background*/ {
	background-color: rgba(0, 173, 239, 0.5);
}

handle {
	margin-left: -1em;
	margin-top: -1em;
	display: block;
	position: absolute;
	z-index: 999;
}
.handleCt {
	width: 2em;
	height: 2em;
	border-radius: 100%;
	background-color: #fff;
	opacity: .3;
	border: solid .08em #00ADEF;
	overflow: hidden;
	box-sizing: border-box;
	color: #00ADEF;
	cursor: pointer;
}
.handleCt:hover {
	opacity: 1;
}

.zoom2 handle, .zoom2 .curProp { -webkit-transform: scale(.6666); }
.zoom3 handle, .zoom3 .curProp { -webkit-transform: scale(.5); }
.zoom4 handle, .zoom4 .curProp { -webkit-transform: scale(.3333); }
.zoom5 handle, .zoom5 .curProp { -webkit-transform: scale(.25); }

/*.handleColor > .handleCt,*/
.handleColor0 > .handleCt, 
.handleColor1 > .handleCt, 
.handleColor2 > .handleCt, 
.handleColor3 > .handleCt, 
.handleColor4 > .handleCt {
	color: #fff;
	opacity: 1;
	border: none;
}
.handleColor1 > .handleCt { background-color: #00ADEF; }
.handleColor2 > .handleCt { background-color: #00D96D; }
.handleColor3 > .handleCt { background-color: #A3D900; }
.handleColor4 > .handleCt { background-color: #DC0000; }
.handleColor5 > .handleCt { background-color: #A300D9; }

handle.dragging > .handleCt {
	background-color: #fff;
	opacity: 1;
	border: solid .166em #00ADEF;
}
handle.dragging.handleColor1 > .handleCt { border-color: #00ADEF; color: #00ADEF; }
handle.dragging.handleColor2 > .handleCt { border-color: #00D96D; color: #00D96D; }
handle.dragging.handleColor3 > .handleCt { border-color: #A3D900; color: #A3D900; }
handle.dragging.handleColor4 > .handleCt { border-color: #DC0000; color: #DC0000; }
handle.dragging.handleColor5 > .handleCt { border-color: #A300D9; color: #A300D9; }

.n-resize > .handleCt { cursor: n-resize; }
.s-resize > .handleCt { cursor: s-resize; }
.e-resize > .handleCt { cursor: e-resize; }
.w-resize > .handleCt { cursor: w-resize; }
.ns-resize > .handleCt { cursor: ns-resize; }
.ew-resize > .handleCt { cursor: ew-resize; }
.move > .handleCt { cursor: move; }

.dot {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #ccc;
}
.color1 { background-color: #00ADEF; }
.color2 { background-color: #00D96D; }
.color3 { background-color: #A3D900; }
.color4 { background-color: #DC0000; }
.color5 { background-color: #A300D9; }

.editors, .page, .page iframe, .editor, .editHtml .textEditor {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.editors {
	top: 32px;
	/*right: 67%;*/
}
.editHtml {
	height: 40%;
}
.editHtml .textEditor {
	top: 20px;
}
.editCss {
	height: 60%;
	top: 40%;
}
page {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.page {
	left: 33%;
	top: 32px;
	border: solid 1px #ccc;
}
.page iframe {
	background-color: #fff;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
}
.dragCover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
}
.gridDisplay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 300;
	opacity: .1;
	background-repeat: repeat;
	pointer-events: none;
}
.gridSnapControl {
	position: absolute;
	top: 6px;
	right: 130px;
}
.editor h2 {
	height: 20px;
	line-height: 20px;
	margin: 0;
	padding: 0 .5em;
	color: #fff;
	background-color: #ccc;
	font-size: .8em;
	z-index: 100;
	position: relative;
}
.editor h3 {
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	height: 18px;
	padding-left: .5em;
	border-bottom: solid 1px #ccc;
	border-top: solid 1px #ccc;
}
.editor h3 a {
	text-decoration: none;
	color: #666;
}
.editHtml .CodeMirror {
	height: 100%;
	overflow-y: auto;
	overflow-x: auto;
	border-top: solid 1px #ccc;
}
.editCss .CodeMirror {
	height: auto;
}
.editCss .CodeMirror-scroll {
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
}
.scrollable {
	overflow: auto;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	bottom: 0;
}
.domList {
	position: absolute;
	left: 1px;
	right: 0;
	bottom: 0;
	height: 1.5em;
	margin: 0;
	background-color: #fff;
	border-top: 1px solid #ccc;
	padding: 0;
	padding-left: 6px;
}
.domList > li {
	float: left;
	list-style: none;
	margin-right: 4px;
	padding: 1px 4px 4px;
	cursor: default;
}
.domList > li:hover {
	background-color: #eee;
}
.domList > li::after {
	content: ' › ';
	margin-left: 6px;
}
.domList > li:last-child::after {
	display: none;
}
.domList > li:last-child {
	background-color: #ccc;
}
.overridden, .overridden * {
	text-decoration: line-through;
	color: #999 !important;
}
.overridden .cm-tab {
	text-decoration: none;
}
.subSelectors {
	position: absolute;
	top: 32px;
	left: 33%;
	margin: 0;
	padding: 0;
	z-index: 800;
}
.subSelectors > li {
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 4px 8px;
	background-color: rgba(0,0,0,.3);
	list-style: none;
	border-radius: 3px;
	border: solid 2px transparent;
	cursor:  default;
}
.subSelectors > li.active {
	border-color: #00ADEF;
}
.subSelectors > li:hover {
	color: #fff;
}
.zoomControls {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.zoomControls > li {
	float: left;
	margin: .1em;
	list-style: none;
}
.zoomBtn {
	display: inline-block;
	border-radius: 100%;
	border: solid 1px #ccc;
	font-size: 1.5em;
	line-height: 1.1em;
	text-align: center;
	width: 1.1em;
	height: 1.1em;
	cursor: default;
}
.zoomBtn:hover {
	background-color: #ccc;
	color: #fff;
}
.pageTransform {
	-webkit-transform-origin: 0 0;
	/*-webkit-transition: -webkit-transform .1s linear;*/
}
.mediaQueries {
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	z-index: 800;
	margin: 0;
	padding: 0;
}
.mediaQueries > li {
	list-style: none;
	padding: .5em 1em;
	display: inline-block;
	box-sizing: border-box;
}
.mediaQueries > li:hover {
	background-color: #ddd;
}
.mediaQuery {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 24px;
	background-color: #eee;
}