<!doctype html>
<html ng-app="cssHandles">
<head>

<title>Web Handles</title>
<!--<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>-->
<link rel="stylesheet" href="scripts/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="scripts/codemirror/addon/lint/lint.css">
<link rel="stylesheet" href="scripts/codemirror/addon/fold/foldgutter.css" />
<link rel="stylesheet" href="default.css" />
<meta charset="utf-8">
</head>
<body>

<div id="handles-root" ng-controller="MainCtrl">

<div>
	<div class="handlesControls" ng-style="{webkitTransformOrigin: originX+' '+originY, webkitTransform: 'scale('+(1/zoomLevels[zoom-1])+') translate('+(-panX)+'px,'+(-panY)+'px)'}">
		<div class="controlBtns" ng-show="showControls">
			<ul class="tabs">
				<li ng-click="tabId = 1" ng-class="{active:tabId==1}"><u>S</u>pacing</li>
				<li ng-click="tabId = 2" ng-class="{active:tabId==2}">Si<u>z</u>e</li>
				<li ng-click="tabId = 3" ng-class="{active:tabId==3}"><u>P</u>osition</li>
				<li ng-click="tabId = 4" ng-class="{active:tabId==4}"><u>B</u>order</li>
				<li ng-click="tabId = 5" ng-class="{active:tabId==5}">Back<u>g</u>rounds</li>
				<li ng-click="tabId = 6" ng-class="{active:tabId==6}"><u>F</u>ont</li>
				<li ng-click="tabId = 7" ng-class="{active:tabId==7}"><u>C</u>olumns</li>
				<li ng-click="tabId = 8" ng-class="{active:tabId==8}"><u>E</u>ffects</li>
				<li ng-click="tabId = 9" ng-class="{active:tabId==9}"><u>T</u>ransform</li>
				<li ng-click="tabId = 10" ng-class="{active:tabId==10}">3<u>D</u></li>
			</ul>
			<ul class="tabs rules">
				<li ng-repeat="rule in rules" ng-class="{active: rule == activeRule}" ng-click="toggleRule(rule)">
					<i ng-class="'dot color'+rule.index"></i> {{rule.selectorText}}
				</li>
			</ul>
		</div>
	</div>
	
	<div class="handles" ng-class="'rule'+activeRule.index" ng-show="isSelected && showControls">
		
		<!--<div class="curProp" ng-mouseover="keepVisible()" ng-mouseout="timeoutHide()" ng-show="showCurProp" ng-style="{
			left: (paddingLeft+width+paddingRight)/2 + offset.left,
			top: (paddingTop+height+paddingBottom)/2 + offset.top
		}">
			<div class="propName">{{propName}}</div>
			<div class="propVal">{{propVal}}</div>
			<div class="propValSec">
				<span class="changeUnit(2)">{{propVal2}}</span> <span ng-click="changeUnit(3)">{{propVal3}}</span>
			</div>
			<div class="propDel" ng-click="deleteProperty(propName)" ng-hide="propVal==undefined">x</div>
		</div>-->
	
		<div ng-show="tabId == 1">
			<handle class="s-resize" prop="padding-top" 
				ng-class="'handleColor'+getRuleIndex('padding-top')" 
				dir="vert" 
				unit="px" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					contentWidth/2 + handleSize/2 + borderLeft + paddingLeft + offset.left, 
					borderTop + paddingTop + offset.top
				)">
			</handle>
			<handle class="w-resize" prop="padding-right" 
				ng-class="'handleColor'+getRuleIndex('padding-right')" 
				dir="-horiz" 
				unit="px" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft+paddingLeft+contentWidth + offset.left, 
					height/2 + handleSize/2 + borderTop + paddingTop + offset.top
				)">
			</handle>
			<handle class="n-resize" prop="padding-bottom" 
				ng-class="'handleColor'+getRuleIndex('padding-bottom')" 
				dir="-vert" 
				unit="px" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					contentWidth/2 + handleSize/2 + borderLeft + paddingLeft + offset.left, 
					contentHeight + borderTop + paddingTop + offset.top
				)">
			</handle>
			<handle class="e-resize" prop="padding-left" 
				ng-class="'handleColor'+getRuleIndex('padding-left')" 
				dir="horiz" 
				unit="px" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft + paddingLeft + offset.left, 
					contentHeight/2 + handleSize/2 + borderTop + paddingTop + offset.top
				)">
			</handle>
			
			<handle class="n-resize" prop="margin-top" 
				ng-class="'handleColor'+getRuleIndex('margin-top')" 
				dir="-vert" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					contentWidth/2 - handleSize/2 + borderLeft + paddingLeft + offset.left,
					offset.top - marginTop
				)">
			</handle>
			<handle class="e-resize" prop="margin-right" 
				ng-class="'handleColor'+getRuleIndex('margin-right')" 
				dir="horiz" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					offset.left + borderLeft + paddingLeft + contentWidth + paddingRight + borderRight + marginRight, 
					contentHeight/2 - handleSize/2 + borderTop + paddingTop + offset.top
				)">
			</handle>
			<handle class="s-resize" prop="margin-bottom" 
				ng-class="'handleColor'+getRuleIndex('margin-bottom')" 
				dir="vert" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					contentWidth/2 - handleSize/2 + borderLeft + paddingLeft + offset.left, 
					offset.top + borderTop + paddingTop + height + paddingBottom + borderBottom + marginBottom
				)">
			</handle>
			<handle class="w-resize" prop="margin-left" 
				ng-class="'handleColor'+getRuleIndex('margin-left')" 
				dir="-horiz" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					offset.left - marginLeft, 
					contentHeight/2 - handleSize/2 + borderTop + paddingTop + offset.top
				)">
			</handle>
		</div>
		
		<div ng-show="tabId == 2">
			<handle class="ew-resize" prop="min-width" 
				ng-class="'handleColor'+getRuleIndex('min-width')" 
				dir="horiz" 
				unit="px" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					minWidth + offset.left, 
					contentHeight/2 - handleSize + borderTop + paddingTop + offset.top
				)">
			</handle>
			<handle class="ew-resize" prop="width" 
				ng-class="'handleColor'+getRuleIndex('width')" 
				dir="horiz" 
				unit="px" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft+paddingLeft+contentWidth+paddingRight+borderRight + offset.left, 
					contentHeight/2 + borderTop + paddingTop + offset.top
				)">
			</handle>
			<handle class="ew-resize" prop="max-width" 
				ng-class="'handleColor'+getRuleIndex('max-width')" 
				dir="horiz" 
				unit="px" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					maxWidth + offset.left, 
					contentHeight/2 + handleSize + borderTop + paddingTop + offset.top
				)">
			</handle>
			
			<handle class="ns-resize" prop="min-height" 
				ng-class="'handleColor'+getRuleIndex('min-height')" 
				dir="vert" 
				unit="px" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					contentWidth/2 - handleSize + borderLeft + paddingLeft + offset.left,
					minHeight + offset.top 
				)">
			</handle>
			<handle class="ns-resize" prop="height" 
				ng-class="'handleColor'+getRuleIndex('height')" 
				dir="vert" 
				unit="px" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					contentWidth/2 + borderLeft + paddingLeft + offset.left,
					borderTop+paddingTop+contentHeight+paddingBottom+borderBottom + offset.top
				)">
			</handle>
			<handle class="ns-resize" prop="max-height" 
				ng-class="'handleColor'+getRuleIndex('max-height')" 
				dir="vert" 
				unit="px" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					contentWidth/2 + handleSize + borderLeft + paddingLeft + offset.left,
					maxHeight + offset.top
				)">
			</handle>
		</div>
		
		<div ng-show="tabId == 3">
			<handle class="ns-resize" prop="top" 
				ng-class="'handleColor'+getRuleIndex('top')" 
				dir="vert" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					contentWidth/2 + borderLeft + paddingLeft + offset.left, 
					offset.top
				)">
			</handle>
			<handle class="ew-resize" prop="right" 
				ng-class="'handleColor'+getRuleIndex('right')" 
				dir="-horiz" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft+paddingLeft+width+paddingRight+borderRight + offset.left, 
					contentHeight/2 + borderTop + paddingTop + offset.top
				)">
			</handle>
			<handle class="ns-resize" prop="bottom" 
				ng-class="'handleColor'+getRuleIndex('bottom')" 
				dir="-vert" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					contentWidth/2 + borderLeft + paddingLeft + offset.left, 
					borderTop+paddingTop+height+paddingBottom+borderBottom + offset.top
				)">
			</handle>
			<handle class="ew-resize" prop="left" 
				ng-class="'handleColor'+getRuleIndex('left')" 
				dir="horiz" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					offset.left, 
					contentHeight/2 + borderTop + paddingTop + offset.top
				)">
			</handle>
		</div>
		
		<div ng-show="tabId == 4">
			<handle class="ns-resize" prop="border-width" 
				ng-class="'handleColor'+getRuleIndex('border-width')" 
				dir="vert" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft + offset.left, 
					borderTop + offset.top
				)">
			</handle>
			<handle class="ns-resize" prop="border-top-width" 
				ng-class="'handleColor'+getRuleIndex('border-top-width')" 
				dir="-vert" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					contentWidth/2 + borderLeft + paddingLeft + offset.left, 
					offset.top
				)">
			</handle>
			<handle class="ew-resize" prop="border-right-width" 
				ng-class="'handleColor'+getRuleIndex('border-right-width')" 
				dir="horiz" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft+paddingLeft+contentWidth+paddingRight+borderRight + offset.left, 
					contentHeight/2 + borderTop + paddingTop + offset.top
				)">
			</handle>
			<handle class="ns-resize" prop="border-bottom-width" 
				ng-class="'handleColor'+getRuleIndex('border-bottom-width')" 
				dir="vert" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					contentWidth/2 + borderLeft + paddingLeft + offset.left, 
					borderTop+paddingTop+height+paddingBottom+borderBottom + offset.top
				)">
			</handle>
			<handle class="ew-resize" prop="border-left-width" 
				ng-class="'handleColor'+getRuleIndex('border-left-width')" 
				dir="-horiz" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					offset.left, 
					contentHeight/2 + borderTop + paddingTop + offset.top
				)">
			</handle>
			
			<handle class="ns-resize" prop="border-radius" 
				ng-class="'handleColor'+getRuleIndex('border-radius')" 
				dir="vert" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft + paddingLeft + contentWidth + borderRight + paddingRight + offset.left, 
					offset.top
				)">
			</handle>
		</div>
		
		<div ng-show="tabId == 5">
			<handle class="ns-resize" prop="top" 
				dir="vert" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				move="proposePixelMove()" 
				ng-style="transform(
					contentWidth/2 + borderLeft + paddingLeft + offset.left, 
					offset.top
				)">
			</handle>
		</div>
		
		<div ng-show="tabId == 6">
			<handle class="ns-resize" prop="font-size" 
				ng-class="'handleColor'+getRuleIndex('font-size')" 
				dir="vert" 
				unit="em" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft + paddingLeft - handleSize/2 + offset.left, 
					handleSize/2 + fontSize + borderTop + paddingTop + offset.top
				)">
			</handle>
			<handle class="ns-resize" prop="line-height" 
				ng-class="'handleColor'+getRuleIndex('line-height')" 
				dir="vert" 
				unit="em" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="fontSize" 
				ng-style="transform(
					borderLeft + paddingLeft - handleSize/2 + offset.left, 
					handleSize*1.5 + fontSize + lineHeight + borderTop + paddingTop + offset.top
				)">
			</handle>
			<handle class="ew-resize" prop="text-indent" 
				ng-class="'handleColor'+getRuleIndex('text-indent')" 
				dir="horiz" 
				unit="em" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="fontSize" 
				ng-style="transform(
					textIndent + borderLeft + paddingLeft - handleSize/2 + offset.left, 
					borderTop + paddingTop + - handleSize/2 + offset.top
				)">
			</handle>
			<handle class="ew-resize" prop="letter-spacing" 
				ng-class="'handleColor'+getRuleIndex('letter-spacing')" 
				dir="horiz" 
				unit="em" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="fontSize" 
				ng-style="transform(
					handleSize + letterSpacing + textIndent + borderLeft + paddingLeft + offset.left, 
					borderTop + paddingTop + - handleSize/2 + offset.top
				)">
			</handle>
			<handle class="ew-resize" prop="word-spacing" 
				ng-class="'handleColor'+getRuleIndex('word-spacing')" 
				dir="horiz" 
				unit="em" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="fontSize" 
				ng-style="transform(
					handleSize*2.5 + wordSpacing + letterSpacing + textIndent + borderLeft + paddingLeft + offset.left, 
					borderTop + paddingTop + - handleSize/2 + offset.top
				)">
			</handle>
		</div>
		
		<div ng-show="tabId == 7">
			<handle class="ew-resize" prop="-webkit-column-count" 
				ng-class="'handleColor'+getRuleIndex('-webkit-column-count')" 
				dir="-horiz" 
				unit="" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft + paddingLeft + contentWidth/columnCount + offset.left, 
					borderTop + paddingTop - handleSize/2 + offset.top
				)">
			</handle>
			<handle class="ew-resize" prop="-webkit-column-width" 
				ng-class="'handleColor'+getRuleIndex('-webkit-column-width')" 
				dir="horiz" 
				unit="em" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft + paddingLeft + columnWidth + offset.left, 
					borderTop + paddingTop + handleSize/2 + offset.top
				)">
			</handle>
			<handle class="ew-resize" prop="-webkit-column-gap" 
				ng-class="'handleColor'+getRuleIndex('-webkit-column-gap')" 
				dir="horiz" 
				unit="px" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft + paddingLeft + columnGap/2 + contentWidth/columnCount + offset.left, 
					borderTop + paddingTop + handleSize/2 + offset.top
				)">
			</handle>
		</div>
		
		<div ng-show="tabId == 8">
			<handle class="ew-resize" prop="-webkit-column-count" 
				ng-class="'handleColor'+getRuleIndex('-webkit-column-count')" 
				dir="-horiz" 
				unit="" 
				allownegative="false" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft + paddingLeft + contentWidth/columnCount + offset.left, 
					borderTop + paddingTop - handleSize/2 + offset.top
				)">
			</handle>
		</div>
		
		<div ng-show="tabId == 9">
			<handle class="move originHandle" prop="-webkit-transform-origin" 
				ng-class="'handleColor'+getRuleIndex('-webkit-transform-origin')" 
				dir="both" 
				unit="px" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="{
					left: transformOrigin.x + offset.left, 
					top: transformOrigin.y + offset.top
				}">
			</handle>
			<handle class="ew-resize" prop="-webkit-transform" fn="scaleX" 
				ng-class="'handleColor'+getRuleIndex('-webkit-transform','scaleX')" 
				dir="horiz" 
				unit="" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft + paddingLeft + contentWidth + paddingRight + borderRight + offset.left, 
					borderTop + (paddingTop + contentHeight + paddingBottom)/2 + offset.top
				)">
			</handle>
			<handle class="ns-resize" prop="-webkit-transform" fn="scaleY" 
				ng-class="'handleColor'+getRuleIndex('-webkit-transform','scaleY')" 
				dir="vert" 
				unit="" 
				allownegative="true" 
				percentdenom="parentWidth" 
				emdenom="parentFontSize" 
				ng-style="transform(
					borderLeft + (paddingLeft + contentWidth + paddingRight)/2 + offset.left, 
					borderTop + paddingTop + contentHeight + paddingBottom + borderBottom + offset.top
				)">
			</handle>
			<handle class="ew-resize" prop="-webkit-transform" fn="skewX" 
				ng-class="'handleColor'+getRuleIndex('-webkit-transform', 'skewX')" 
				dir="-horiz" 
				unit="deg" 
				allownegative="true" 
				ng-style="transform(
					borderLeft + (paddingLeft + contentWidth + paddingRight)/2 + offset.left, 
					offset.top
				)">
			</handle>
			<handle class="ns-resize" prop="-webkit-transform" fn="skewY"
				ng-class="'handleColor'+getRuleIndex('-webkit-transform','skewY')" 
				dir="-vert" 
				unit="deg" 
				allownegative="true" 
				ng-style="transform(
					offset.left, 
					borderTop + (paddingTop + contentHeight + paddingBottom)/2 + offset.top
				)">
			</handle>
			<handle class="ew-resize" prop="-webkit-transform" fn="rotate"
				ng-class="'handleColor'+getRuleIndex('-webkit-transform','rotate')" 
				dir="horiz" 
				unit="deg" 
				allownegative="true" 
				ng-style="transform(
					borderLeft + paddingLeft + contentWidth + borderRight + paddingRight + offset.left, 
					offset.top
				)">
			</handle>
		</div>
	
	</div>
</div>

<div class="editors">
	<div class="editor editHtml">
		<h2>HTML</h2>
		<div class="textEditor">
			<textarea ng-model="html" ui-codemirror="{
			      onLoad : htmlLoaded,
			      lineNumbers: true,
			      indentUnit: 4,
			      indentWithTabs: true,
			      styleActiveLine: true,
			      mode: 'text/html',
		          foldGutter: true,
		          profile: 'html',
		          gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter']
			    }"></textarea>
		</div>
	</div>
	<div class="editor editCss">
		<h2>CSS <a ng-click="unfoldCode()" class="unfoldCode">unfold all</a></h2>
		<div class="scrollable" id="cssScroll">
			<div class="textEditor" ng-repeat="sheet in sheets">
				<h3><a href="{{sheet.href}}">{{sheet.filename}}</a></h3>
				<textarea ng-model="sheet.text" ui-codemirror="{
				      onLoad : cssEditorLoaded,
				      lineNumbers: true,
				      indentUnit: 4,
				      indentWithTabs: true,
				      styleActiveLine: true,
				      matchBrackets: true,
				      gutters: ['CodeMirror-lint-markers', 'CodeMirror-linenumbers'],
				      lint: true,
				      mode: 'css',
				      styleSheet: sheet,
				      profile: 'css'
				    }"></textarea>
			</div>
		</div>
	</div>
</div>

<div class="page" id="pageHolder">
	<page ng-class="'zoom'+zoom" 
		url="pageSrc"
		pannable="true" 
		source="pageSrc" 
		html="html"
		css="sheets"
		on-scroll="onScroll" 
		on-load="cssLoaded" 
		ng-style="{webkitTransformOrigin: originX+' '+originY, webkitTransform: 'translate('+panX+'px,'+panY+'px) scale('+zoomLevels[zoom-1]+')'}"
	></page>

	<div class="dragCover" ng-show="dragging" ng-show="pan"></div>
	<ul class="domList">
		<li ng-repeat="node in domList" ng-click="select(node)">{{node.str}}</li>
	</ul>
</div>

</div>

<script src="scripts/jquery.js"></script>
<script src="scripts/angular.js"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>-->
<script src="scripts/csslint.js"></script>
<script src="scripts/codemirror/lib/codemirror.js"></script>
<script src="scripts/codemirror/mode/css/css.js"></script>
<script src="scripts/codemirror/mode/xml/xml.js"></script>
<script src="scripts/codemirror/mode/javascript/javascript.js"></script>
<script src="scripts/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="scripts/codemirror/addon/selection/active-line.js"></script>
<script src="scripts/codemirror/addon/lint/lint.js"></script>
<script src="scripts/codemirror/addon/lint/css-lint.js"></script>
<script src="scripts/codemirror/addon/fold/foldcode.js"></script>
<script src="scripts/codemirror/addon/fold/foldgutter.js"></script>
<script src="scripts/codemirror/addon/fold/brace-fold.js"></script>
<script src="scripts/codemirror/addon/fold/xml-fold.js"></script>
<script src="scripts/codemirror/addon/fold/comment-fold.js"></script>
<script src="scripts/ui-codemirror.js"></script>
<script src="scripts/emmet/emmet.min.js"></script>
<script src="scripts/lorem.js"></script>
<script type="text/javascript">var module = {};</script>
<script src="scripts/app.js"></script>
<script src="scripts/handles-css-parser.js"></script>
<script src="scripts/handles-html-parser.js"></script>
<script src="scripts/dataservice.js"></script>
<script src="scripts/controller.js"></script>
<script src="scripts/handle.js"></script>
<script src="scripts/page.js"></script>

</body>
</html>