/**** TEMPORARY PAGE STYLES ****/
.box1 {
	color: red;
}
.mobydick {
	font-family: 'Merriweather', serif;
}


h2 {
	font-size: 3em;
	text-shadow: .1em .1em .25em rgba(0,0,0,.25);
	background-color:rgba(0,255,0,.2);
}