/**** TEMPORARY PAGE STYLES ****/
.box {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 100px;
	left: 100px;
	background-color: #ccc;
	overflow: hidden;
	padding-top: 1em;
	color: black;
	-webkit-transform-origin: 100% 100%;
}

.box1,  .box2,.box.box3 {
	border-radius: 2px;
}

.box1 {
	top: auto;
	left: auto;
	bottom: 50px;
	right: 50px;
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

.box2 {
	padding: 5%;
	background: #eee url(myimage.png) no-repeat, transparent url(myotherimage.png) 50% 10px;
	left: 500px;
	margin-left: -2.55%;
}
.box3 {
	top: 350px;
	width: 600px;
	padding: 5%;
	background-color: #666;
	border: solid 10px #ccc;
	color: #fff;
	box-sizing: border-box;
}
.box4 {
	margin: 1em;
	background-color: #cc0000;
	border: solid 10px #ccc;
}

@media (max-width:600px) {
	.box4 {
		padding: 1em;
	}
}

.box5 {
	padding: 3em;
	left: 800px;
	top: 150px;
	width: 10em;
}

.box2 {
	-webkit-transform: translateX(50px) translateY(-50px);
	box-shadow: 5px 5px 10px rgba(0,0,0,.3), 0 0 50px rgb(50,100,100) inset;
}
.box3 {
	-webkit-transform: skewX(15deg);
}
.box4 {
	-webkit-transform: scale(0.5);
}
.box5 {
	-webkit-transform: rotate(45deg);
}

.bigFont {
	font-size: 200%;
}
