<div class="handles-root" id="handles-root">
	<ul class="handles-modes">
		<li><a ng-click="switchMode('layout')">Box</a></li>
		<li><a ng-click="switchMode('layout')">Dimension</a></li>
		<li><a ng-click="switchMode('layout')">Position</a></li>
		<li><a ng-click="switchMode('layout')">Transform</a></li>
		<li><a ng-click="switchMode('layout')">Decoration</a></li>
		<li><a ng-click="switchMode('layout')">Text</a></li>
		<li><a ng-click="switchMode('layout')">Filters</a></li>
		<li><a ng-click="switchMode('layout')">Effects</a></li>
	</ul>

custom content {{"angular running"}}


</div>